

<form action="/result">
  <div class="container">
    <div class="form-group">
      <label for="keys">Keys</label>
      <input type="text" class="form-control" name='keys'>
      <label for="values">Values</label>
      <input type="text" class="form-control" name='values'>

      <button type="submit" name="button" class='btn btn-success'>Hash</button>
    </div>
  </div>
</form>
