

<form action="/result">
  <div class="container">
    <div class="form-group">
      <label for="side1">Side 1</label>
      <input type="number" class="form-control" name='side1'>
      <label for="side2">Side 2</label>
      <input type="number" class="form-control" name='side2'>
      <label for="side3">Side 3</label>
      <input type="number" class="form-control" name='side3'>
      <button type="submit" name="button" class='btn btn-success'>Decide</button>
    </div>
  </div>
</form>
